* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fundo-geral {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  background-size: cover;
  background-position: center;
}

.card-projeto {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  
  width: 90%;
  max-width: 420px; 
  height: auto;    
  
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*Animação Mensagem erro - Login*/
.mensagem {
  margin-top: 1px;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

.sucesso {
  background-color: #e6f7ee;
  color: #2e7d32;
}

.erro {
  background-color: #fdecea;
  color: #c62828;
}

.desabilitado {
  background-color: #ccc;
  cursor: not-allowed;
}

.erro {
  animation: shake 0.3s;
  border: 1px solid red;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
/*Fim animação*/

.button-padrao {
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
  outline: none;
}

.button-padrao:hover {
  filter: brightness(0.9); 
  transform: translateY(-1px); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
}

.button-padrao:active {
  transform: translateY(0); 
  filter: brightness(0.8); 
}

.button-turma {
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
  outline: none;
}

.button-turma:hover {
  transform: translateY(-4px); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
}

.button-turma:active {
  transform: translateY(0); 
  filter: brightness(0.8); 
}
